<li class="nav-divider"></li>
<li class="nav-option"><a href="/search"><i class="fa fa-search"></i></a></li>
<li class="nav-option"><a href="#"><i class="fa fa-user"></i></a></li>
<li class="nav-option"><a href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
<li class="nav-option show-mobile-only hamburger"><a href="#"><i class="fa fa-bars"></i></a></li>  
